.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

// títulos y configuración de banner interno y portada

.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: black

.titulo-segundo:after 
  content: ''
  display: block
  height: 4.5px
  width: 140px
  border-left: solid 50px
  border-left-color: #BE79CA
  background-color: #e8e8e8

.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada_interna.png") !important
  justify-content: space-around
  
.banner-principal__row 
  justify-content: space-around

.subt
  img
    width: 50px
  h3
    color: black

// colores texto, fondos, tamaño imagen

.img65
  width: 65px  !important

.img90
  width: 90px  !important

.img250
  width: 250px !important

.img200
  width: 200px !important

.img120
  with: 120px !important

.bg1
  background-color: #D5EAFB

.bg2
  background-color: #E8E8E8

.bg3
  background-color: #6E3DC6

.bg4
  background: url('../assets/curso/temas/tema1/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.bg5
  background: url('../assets/curso/temas/tema1/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.bg6
  background-color: #F9CE24

.bg10
  background: url('../assets/curso/temas/tema1/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.bg11
 background-color: #F6F6F6

.borde-redondo
  border-radius: 20px

.borde-redondo-abajo
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-arriba
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.fa-check-circle:before, .fa-circle-check:before 
  content: "\f058"
  color: #6E3DC6

.tarjeta-numerada
  border: solid 3px

.tarjeta-numerada.color-morado-claro .tarjeta-numerada__numero 
  background-color: #D1BCFF

.tarjeta-numerada.color-morado-claro
  border-color:  #D1BCFF

.bgmoradoclaro
  background-color: #D1BCFF

.cajon.color-acento-contenido 
  background-color: #D1BCFF

// tab tema 1

.tabs-b
  border-bottom: none !important

// viñetas

.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 20px
      font-size: 1.4rem

.fa-al
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 19px
      font-size: 1.4rem

// Acordion tema 1

.acordion__accion__btn--a
  background-color: #BE79CA
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)

.acordion .tarjeta--azul
  background-color: #6E3DC6

.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #F2E4F5
  h3
    color: black
.acordion__titulo
  h3
    color: #fff

// tarjetas botones tema 1

.tarjeta--boton.tema1
  background-color: #6E3DC6
  border-radius: 10px
  p
   color: white

.tarjeta--boton.tema1:active, .tarjeta--boton.tema1:focus, .tarjeta--boton.tema1:hover 
  background-color: #F9CE24
  p
   color: black

// pasos tema 1

.pasos-a.color-acento-contenido .pasos-a__circle div
    color: white

// tab tema 1

.tabs-a__tab 
    background-color:  #6E3DC6
    color: white

.tarjeta.color-secundario--borde
    background-color:  #F2E4F5
    color: #12263F
    border: solid 1px  #F2E4F5

.tarjeta.color-fondo3--borde
    background: url('../assets/curso/temas/tema1/fondo1.png')
    color: #12263F
    border: solid 1px  #F2E4F5
    background-position: cover
    background-repeat: no-repeat
    background-size: 100% 100%
  
// infografía tema1

.img-infografica.color-primario .img-infografica__item__dot:before
  background-color:  #F9CE24

.img-infografica__item__numero
  font-size: 30px

.tarjeta.morado-claro
  background-color: #D1BCFF

.titulo-segundo.cambio:after 
    content: ''
    display: block
    height: 4.5px
    width: 300px
    border-left: solid 50px
    border-left-color: #BE79CA
    background-color: #BE79CA
    border-radius: 20px
